In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import getpass  
password = getpass.getpass()

········

In [12]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/sakila'
engine = create_engine(connection_string)
query1 = '''SELECT DISTINCT(title) AS rented_in_may FROM sakila.film
LEFT JOIN sakila.inventory
USING (film_id)
LEFT JOIN sakila.rental
USING (inventory_id)
WHERE rental_date BETWEEN "2005-05-01%%" AND "2005-05-31%%"'''

query2='''SELECT * FROM sakila.film;'''
data1 = pd.read_sql_query(query1, engine)
data1.head()

     rented_in_may
0  BLANKET BEVERLY
1     FREAKY POCUS
2    GRADUATE LORD
3    LOVE SUICIDES
4  IDOLS SNATCHERS

In [14]:
data2 =pd.read_sql_query(query2, engine)
data2.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,None,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,None,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [15]:
data2['rented_in_may'] = np.where(data2['title'].isin (data1['rented_in_may']) ,1,0)
data2.head()
data2[data2['rented_in_may']==1]

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,rented_in_may
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,1
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,None,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,1
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,None,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42,1
5,6,AGENT TRUMAN,A Intrepid Panorama of a Robot And a Boy who m...,2006,1,None,3,2.99,169,17.99,PG,Deleted Scenes,2006-02-15 05:03:42,1
7,8,AIRPORT POLLOCK,A Epic Tale of a Moose And a Girl who must Con...,2006,1,None,6,4.99,54,15.99,R,Trailers,2006-02-15 05:03:42,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,994,WYOMING STORM,A Awe-Inspiring Panorama of a Robot And a Boat...,2006,1,None,6,4.99,100,29.99,PG-13,Deleted Scenes,2006-02-15 05:03:42,1
994,995,YENTL IDAHO,A Amazing Display of a Robot And a Astronaut w...,2006,1,None,5,4.99,86,11.99,R,"Trailers,Commentaries,Deleted Scenes",2006-02-15 05:03:42,1
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,None,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42,1
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,None,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42,1
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,1